<div class="card">
    <div class="card-body">
        <div *ngIf="messages.length===0">
            <p>No Messages Yet... say hi by using the message box below</p>
        </div>
        <ul *ngIf="messages.length>0" class="chat">
            <li *ngFor="let message of messages">
               <div>
                <span class="chat-img float-end">
                    <img class="rounded-circle" src="{{message.senderPhotoUrl}}" alt="">
                </span>
                <div class="chat-body">
                    <div class="header">
                        <small class="chat-muted">
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                              </svg>{{message.messagesent|timeago}}</span>
                              <span class="text-danger"*ngIf="!message.dateread
                               && message.senderusername!=username">(unread)</span>
                              <span class="text-success"*ngIf="message.dateread
                               && message.senderusername!=username">read {{message.dateread|timeago}}</span>
                        </small>
                    </div>
                    <p>{{message.content}}</p>
                </div>   
               </div>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input 
                type="text"
                required
                name="messageContent"
                [(ngModel)]="messageContent"
                class="form-control input-sm" 
                placeholder="Send a private message">
                <div class="input-group-append">
                    <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit">Send</button>
                </div>
            </div>
           
        </form>
    </div>
</div>